.house
  position: relative
  max-width: 370px
  height: 720px
  //height: 100%
  &:before
    position: absolute
    content: ''
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    top: 10px
    left: 10px
    border: 0.5px solid #EBEBEB
    border-radius: 4px
    box-sizing: border-box
  @media (max-width: $tablet-width)
    width: 320px
    margin-bottom: 20px
  @media (max-width: $mobile-width)
    width: 300px
  &__pic
    width: 370px
    @media (max-width: $tablet-width)
      width: 320px
    @media (max-width: $mobile-width)
      width: 300px
  &__name
    margin: 20px 20px 10px 20px
    font-weight: 500
    font-size: 22px
    line-height: 29px
  &__list
    margin: 0 20px
    font-weight: normal
    font-size: 18px
    line-height: 24px
  &__specification
    display: flex
  &__title,
  &__adress
    margin-right: 5px
    margin-bottom: 10px
    color: $text-gray
  &__adress
    position: relative
    margin-left: 10px
    &:before
      position: absolute
      content: url($img + '/sec-4/map-pin.svg')
      left: -15px