.offer
  padding-top: 80px
  padding-bottom: 293px
  //background: url($img + '/sec-2/bg.png') 50% calc(50% + 250px) no-repeat
  & .bg
    position: relative
    & img:nth-child(1)
      position: absolute
      z-index: -1
      left: 50%
      transform: translateX(-50%)
  &__wrapper
    max-width: $desktop-width
    margin: 0 auto
    position: relative
    z-index: 2
  &__title
    max-width: 675px
    font-weight: normal
    font-size: 42px
    line-height: 48px
    & .green
      font-weight: 700
  &__text
    max-width: 410px
    margin-top: 20px
    font-size: 24px
    line-height: 31px
  &__flex
    display: flex
  &__button
    margin-top: 67px
  &__appeal
    max-width: 205px
    margin-top: 155px
    margin-left: 10px
    font-size: 14px
    line-height: 16px