.sale
  &__wrapper
    max-width: $desktop-width
    margin: 0 auto
    padding-top: 110px
  &__title
    text-align: center
  &__list
    margin-top: 50px
    display: flex
    justify-content: space-between
  &__item
    background: $text-white
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.11)
    border-radius: 5px
  &__button
    display: block
    margin: 30px
    width: 83%

