.nav
  &__list
    display: flex
    @media (max-width: $tablet-width)
      justify-content: center
  &__item
    margin-right: 40px
    &:last-child
      margin-right: 0
  &__link
    color: $text-black
    &:hover,
    &:focus
      color: $span-green