.header
  & .bg
    position: relative
    & img:nth-child(1)
      position: absolute
      z-index: 0
      right: 0
      max-width: 1920px
      height: 335px
      display: block
  &__wrapper
    position: relative
    z-index: 2
    max-width: $desktop-width
    margin: 0 auto
    padding-top: 20px
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: $tablet-width)
      flex-wrap: wrap
      padding: 30px
    @media (max-width: $mobile-width)
      padding: 30px 10px
      justify-content: center
  &__logo
    width: 186px
  &__contact
    display: flex
    flex-direction: column
    @media (max-width: $mobile-width)
      margin-top: 20px
  &__nav
    @media (max-width: $tablet-width)
      width: 100%
      order: 3
      margin-top: 30px
  &__phone
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $text-black
  &__callback
    margin-left: 50px
    width: 136px
    color: $span-green
    border-bottom: 1px dashed $span-green
    cursor: pointer
    &:hover,
    &:focus
      color: $text-black
      border-bottom: 1px dashed $text-black